html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  overflow: hidden;
  background: #000;
  touch-action: none;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.site-logo {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
}

.site-logo img {
  height: 40px;   /* ロゴの大きさ */
  width: auto;
  cursor: pointer;
}
