html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  font-family: 'Raleway', sans-serif;
}

#container {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.site-logo {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
}

.site-logo img {
  height: 40px;   /* ロゴの大きさ */
  width: auto;
  cursor: pointer;
}
