* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

canvas {
  display: block;
}

.site-logo {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
}

.site-logo img {
  height: 100px;   /* ロゴの大きさ */
  width: auto;
  cursor: pointer;
}
